{% extends "domainchecks/base.html" %}

{% block page-header %}
    {% if object and object.pk %}
        {{ object.name }} Settings
    {% else %}
        Add a Domain
    {% endif %}
{% endblock %}

{% block nav-items %}
    {{ block.super }}
    {% if object and object.pk %}
        <li class="divider">//</li>
        <li>
            <a href="{% url 'status-detail' domain=object.name %}">
                {{ object.name }}
            </a>
        </li>
        <li class="divider">//</li>
        <li>Settings</li>
    {% else %}
        <li class="divider">//</li>
        <li>Add Domain</li>
    {% endif %}
{% endblock %}

{% block content %}
<section class="form-wrapper">
    <form method="post" action="">{% csrf_token %}
        {% if form.non_field_errors %}
            <div class="row">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <div class="row">
            <div class="tweleve columns">
                {{ form.name.errors }}
                {{ form.name.label_tag }} {{ form.name }}
            </div>
        </div>
        <div class="row">
            <h3>Status Checks</h3>
            {{ form.checks.management_form }}
        </div>
        {% if form.checks.non_form_errors %}
            <div class="row">
                {{ form.checks.non_form_errors }}
            </div>
        {% endif %}
        {% for check_form in form.checks %}
            {% if check_form.non_field_errors %}
                <div class="row">
                    {{ check_form.non_field_errors }}
                </div>
            {% endif %}
            <div class="row">
                {% for field in check_form.visible_fields %}
                    <div class="three columns">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                {% for hidden in check_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            </div>
        {% endfor %}
        <div class="row">
            <button class="button-primary">
                {% if object and object.pk %}
                    Update
                {% else %}
                    Add
                {% endif %} Domain</button>
        </div>
    </form>
</section>
{% endblock %}
