{% extends "domainchecks/base.html" %}

{% load staticfiles %}

{% block body-id %}status-detail{% endblock %}

{% block page-header %}{{ view.kwargs.domain }}{% endblock %}

{% block nav-items %}
    {{ block.super }}
    <li class="divider">//</li>
    <li>{{ view.kwargs.domain }}</li>

    <li class="u-pull-right">
        <a href="{% url 'domain-edit' domain=view.kwargs.domain %}">Edit Domain</a>
    </li>
{% endblock %}

{% block content %}
    {% for check in checks %}
        <section class="check">
            <div class="row">
                <div class="twelve columns name">
                    <h2>{{ check.get_protocol_display }} {{ check.get_method_display }} {{ check.path }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="six columns status {{ check.status }}">
                    <span class="label">Success Rate</span>
                    <span class="value" title="{{ check.successes }} of {{ check.pings }}">
                        {{ check.success_rate|default_if_none:"Unknown" }}%
                    </span>
                </div>
                <div class="six columns status">
                    <span class="label">Last Check</span>
                    <span class="value">{{ check.last_check|timesince }} ago</span>
                </div>
            </div>
            <div class="row charts" data-url="{% url 'status-timeline' check=check.id %}">
                <div class="tweleve columns">
                    <span class="label">Response Time (ms)</span>
                    <select name="timeframe">
                        <option value="1">Past Hour</option>
                        <option value="6">Past 6 Hours</option>
                        <option value="12">Past 12 Hours</option>
                        <option value="24">Past Day</option>
                    </select>
                    <div class="chart response-time">
                        <div class="loading"></div>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}

{% block extra-js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.resize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.min.js"></script>
    <script id="chartOptions" type="text/json">
        {
            "xaxes": [{
                "show": true,
                "mode": "time",
                "minTickSize": [1, "hour"],
                "timezone": "browser"
            }],
            "yaxes": [{
                "show": true,
                "position": "left",
                "min": 0
            }],
            "legend": {
                "show": false
            }
        }
    </script>
    <script src="{% static 'domainchecks/js/timeline.js' %}"></script>
{% endblock %}
