.action .button {
    margin-top: 1rem;
}

.status {
    text-transform: uppercase;
}

.status .label {
    color: #555;
    text-transform: uppercase;
}

.status .value {
    font-size: 1.4em;
    font-weight: bold;
    display: block;
}

.status.good .value {
    color: #396;
}

.status.fair .value {
    color: #f29d50;
}

.status.poor .value {
    color: #c30;
}

.domain, .check {
    margin-bottom: 2rem;
}
