.header {
    margin-top: 2rem;
}

nav ul {
    margin-bottom: 2rem;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}

nav ul li {
    display: inline-block;
    padding: 1.5rem 0;
    margin: 0;
    text-transform: uppercase;
    color: #555;
}

nav ul li + li {
   padding-left: 1rem;
}

nav ul li.divider {
    color: #bbb;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.title {
    text-align: center;
}

#login .form-wrapper,
#register .form-wrapper {
    text-align: center;
}

#user-nav ul {
    border: none;
    text-align: right;
    margin-bottom: 0;
}

#user-nav ul li {
    padding: 0.5em 0;
}
