<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Status Page{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra-meta %}{% endblock %}
    <link rel="stylesheet" type="text/css" media="all"
         href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" type="text/css" media="all"
        href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    {% block extra-css %}{% endblock %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body id="{% block body-id %}body{% endblock %}" class="{% block body-class %}body{% endblock %}">
    <div class="container">
        {% block content-wrapper %}
            {% block page-header-wrapper %}
            <section class="header">
                <h1 class="title">{% block page-header %}{% endblock %}</h1>
            </section>
            {% endblock %}

            {% block nav-wrapper %}
                <nav class="row">
                    <ul class="tweleve columns">
                        {% block nav-items %}
                            <li>
                                <a href="/">Home</a>
                            </li>
                        {% endblock %}
                    </ul>
                </nav>
            {% endblock %}

            {% block content %}{% endblock %}
        {% endblock %}
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    {% block extra-js %}{% endblock %}
</body>
</html>
