{% extends "base.html" %}

{% block body-id %}password-change{% endblock %}

{% block page-header %}Change Your Password{% endblock %}

{% block content %}
<section class="form-wrapper">
    <form method="post" action="">{% csrf_token %}
        {% if form.non_field_errors %}
            <div class="row">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <div class="row">
            {{ form.old_password.errors }}
            {{ form.old_password.label_tag }} {{ form.old_password }}
        </div>
        <div class="row">
            {{ form.new_password1.errors }}
            {{ form.new_password1.label_tag }} {{ form.new_password1 }}
        </div>
        <div class="row">
            {{ form.new_password2.errors }}
            {{ form.new_password2.label_tag }} {{ form.new_password2 }}
        </div>
        <div class="row">
            <button class="button-primary">Change Password</button>
        </div>
    </form>
</section>
{% endblock %}

